@media only screen and (min-width: 0px) {
  body {
    background: #e5e9ec;
  }
  .App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  h1 {
    margin: 1em auto;
  }
  /********* FORM *********/
  .form {
    max-width: 320px;
    margin: 0 auto;
  }
  input {
    display: block;
    margin: 0.5em auto;
    width: 100%;
  }
   /********* PRODUCT *********/
  .product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    max-width: 320px;
    margin: 1em auto;
  }
  h2, p {
    margin: 0.5em auto;
  }
  img {
    height: 100px;
    width: 100px;
  }
  .product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  button {
    background: #e34929;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
    outline: #e34929;
    padding: 12px 20px;
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .App {
    flex-direction: row;
    margin-top: 2em;
    width: 90%;
  }
  .form, .products-container {
    width: 40%;
  }
  .products-container {
    flex-wrap: wrap;
  }
}